#PupPalsLogo{
    height: 50px;
    float: left;
    margin-right: 10px;
}

.welcomeScreen{
    margin-top: 10%;
}

body {
    background-color: #008080;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/tealPawPrint.jpg");
    position: relative;
}
nav{
    background-color: #e6ffff;
}
.navbar-toggle .icon-bar {
    background: #008080;
}
nav a{
    color: #008080;
    font-weight: initial;
}
.houseDetails a{
    color: rgb(230, 255, 255)
}
a{
    color: #004d4d;
    font-weight: bold;
}
a:hover{
    color: #000066;
}
h2, .houseDetails, #diffNeighborhood, .welcomeScreen{
    color:black;
    background-color: #008080cc;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
table, .deleteForm, .createForm, .editForm, .detailCard{
    background-color: rgb(230, 255, 255, .85);
    border-radius: 10px;
}

table, .deleteForm, .createForm, .editForm, .houseDetails{
    margin-top:20px;
    padding: 10px;
}


.houseDetails h3{
    margin-top:0;
}

.btn-default{
    border-color: #000066;
    background-color: rgb(230, 255, 255);
    padding: 3px 8px;
}

.btn-default:hover{
    background-color: #ccffff;
    border-color: #000033;
}




footer hr {
    visibility: hidden;
}

footer p {
    margin: 0px;
    position: fixed;
    right: 0;
    left: 0;
    bottom:0;
    padding: 1rem;
    background: #008080;
}


/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


@media only screen and (max-width: 425px){
    h2{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
}
