#PupPalsLogo{
    height: 50px;
    float: left;
    margin-right: 10px;
}

.welcomeScreen{
    margin-top: 10%;
}

body {
    background-color: #008080;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/tealPawPrint.jpg");
    position: relative;
    color:black;
}
nav{
    background-color: #e6ffff;
}
.navbar-toggle .icon-bar {
    background: #008080;
}
nav a{
    color: #008080;
    font-weight: initial;
}

.navbar-collapse .navbar-nav a:hover, .navbar-collapse .navbar-nav a:focus {
    background-color: #ccffff;
    border-radius: 5px;
    font-weight: bold;
}

a{
    color: #004d4d;
    font-weight: bold;
}
a:hover{
    color: #000066;
}

.navbar-brand:hover{
    color: #008080;
}

.tealOverlay{
    background-color: #008080cc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

h2{
    display: inline-block;
    margin-top: 0px;
}

.houseDetails{
    display: inline-block;
}

.houseDetails h3{
    margin-top:0;
}

.houseDetails a{
    color: rgb(230, 255, 255)
}

.listView{
    text-align: right;
    margin-bottom: 5px;
}


.btn-default{
    border-color: #000066;
    background-color: rgb(230, 255, 255);
    padding: 3px 8px;
}

.btn-default:hover{
    background-color: #ccffff;
    border-color: #000033;
}


footer hr {
    visibility: hidden;
}

footer p {
    margin: 0px;
    position: fixed;
    right: 0;
    left: 0;
    bottom:0;
    padding: 1rem;
    background: #008080;
}


/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


@media only screen and (max-width: 425px){
    h2{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    table{
        font-size: 12px;
    }
    table a{
        font-size: 9px;
    }
}
