
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Landing Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Welcome to Pup Pals</h2>
    <div>
        <a asp-controller="House" asp-action="Create" class="btn btn-default">Add House to Map</a>
    </div>
    <hr />
    <div id="map"></div>
    <div>
        <h4>Walking in a different neighborhood?</h4>
        <input id="pac-input" class="controls" type="text" placeholder="Type an address to see other parts of the map">
    </div>
    <div>
        <a id="myNeighborhood" class="btn btn-default">My Neighborhood</a>
    </div>
}