
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Landing Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Welcome to Pup Pals</h2>
    <div>

        <a asp-controller="House" asp-action="Create" class="btn btn-default">Add New Encounter</a>
    </div>
    <hr />
    <div id="map"></div>
    <button id="myNeighborhood">Reset Map to My Neighborhood</button>
    <h4>Walking in a different neighborhood?</h4>
          <p>Type an address below and see the houses you've tracked in other parts of town</p>
            <input id="pac-input" class="controls" type="text" placeholder="Search">
}