
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Map";
}
<div class="tealOverlay">
@if (SignInManager.IsSignedIn(User))
{

    <h2>Welcome to PupPals</h2>
    <div>
        <a asp-controller="House" asp-action="Create" class="btn btn-default">Add House to Map</a>
    </div>
    <hr />
    <div id="map"></div>
    <div id="diffNeighborhood">
        <h4>Walking in a different neighborhood?</h4>
        <input id="pac-input" class="controls" type="text" placeholder="Type an Address">
    </div>
    <div>
        <a id="myNeighborhood" class="btn btn-default">My Neighborhood</a>
    </div>
} else {
    <div class="container">
        <div class="centered text-center">
            <h1>Welcome to PupPals</h1>
            <h3>Keeping up with your pet's social network!</h3>
            <hr/>
            <h4>To get started, please <a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Register">Register</a> or <a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Login">Log In</a></h4>
        </div>
    </div>
}
</div>